* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.cajonera {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 80px;
    gap: 40px;
}

.cardprod:hover{
    box-shadow: 0px 0px 10px black;
    padding: 30px;
    border: 1px solid black;
    
}

.cardprod:hover {
    box-shadow: 0px 0px 10px black;
    padding: 30px;
    border: 1px solid violet;

}


/* NAV BAR AZUL */
.navbarazul {
    width: 100%;
    height: 100px;
    display: flex;
    background-image: linear-gradient(to bottom, #8e04cd, #5d229f, #38226e, #1f193c, #090909);    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.conteiner-logo {
    display: flex;
   align-items: center;
   align-content: center;
}



.buscador {
    width: 40%;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

.buscador-input {
    width: 100%;
}

.header2 {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: black;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.nav-item a {
    color: white;
}

.nav-detalles {
    gap: 10%;
    margin-left: -15%;
    font-family: 'Kdam Thmor Pro', sans-serif;

}

.tel {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}



.tel-margenes {
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tel-margenes2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 35px;
}

.tel-parrafo {
    padding: 10px;
    margin-top: 16px;
 
}

.usuario {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;

}

.usuario-padd {
    padding: 20px;
}

.usuario-btn {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;

}

.usuario-btn p {
    width: 100%;
    height: 8px;
}


.efecto-hover {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
}

.efecto-hover:hover {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: violet;
}

.navbar-nav li a:hover {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: violet;
}

.navbar-nav ul li a {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
}



.cajon-contenido {
    padding: 20px;
}

.conteiner-products {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 2%;
    padding: 10px;
    width: 100%;
}
.boxes-card {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.box-card {
    padding-bottom: 15px;
}

.marcas-destacadas {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start ;
    align-items: center;
    align-content: center;
    padding: 20px;
}

.ver-marcas {
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
}

.conteiner-marcas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 90%;
    margin: auto;
    
}

.publicidad {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 2%;
    padding: 10px 10px 40px;
    width: 100%;
}
.publicidad1 {
    padding-right: 20px;
}
.conteiner-publicidad {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-conteiner {
    background-color: black;
    height: 250px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    width: 100%;
}
.conteiner-boxes {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 2%;
    padding: 10px;
    margin: 10px;
    width: 100%;
    
}
.footer-tit {
    color: white;
}


.conteiner-logo-foot {
   display: flex;
   align-items: center;
   align-content: center;
   width: 25%;
   margin-right: 40px;
}

.logo-imagen-foot {
    display: flex;
}

.conteiner-nosotros{
    display: flex;
    width: 25%;
    height: 100%;
    gap: 5%;
}

.box-us {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 140px;
}

.conteiner-info {
    display: flex;
    width: 25%;
    height: 100%;
    gap: 5%;
}
.box-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 140px;
}
.conteiner-categorias {
    display: flex;
    width: 25%;
    height: 100%;
    gap: 5%;
}
.box-cat {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 140px;
}
.conteiner-clientes {
    display: flex;
    width: 25%;
    height: 100%;
    gap: 5%;
}
.box-client {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 140px;
}
.conteiner-redes {
    display: flex;
    width: 25%;
    height: 100%;
    gap: 5%;
}
.box-redes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 140px;
}

/* ESCRITORIO */
@media screen and (min-width: 550px) { 
    

    .header3 {
        display: none;
    }

    .nav-mob {
        display: none;
    }

    .nav-label {
        display: none;
    }
}

/* ANDROID */
@media screen and (max-width: 550px) {
    .usuario {
        display: none;
    }

    .telefonos{
        display: none;
    }

    .buscador{
        display: none;
    }

    .header2 {
        display: none;
    }

    .header3 {
        display: block;
        background-color: black;
        list-style: none;
    }

    .publicidad {
        display: none;
    }

    .conteiner-info {
        display: none;
    }
    .conteiner-categorias {
        display: none;
    }
    .conteiner-clientes {
        display: none;
    }
    .conteiner-redes {
        display: none;
    }
    .conteiner-boxes {
        display: flex;
        gap: 2%;
        padding: 10px;
        margin: 10px;
        width: 100%;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        display: none;
    }
    
    .nav-mob {
        display: none;
        position: fixed;
        background-color: black;
        top: 0%;
        bottom: 30%;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        font-family: 'Bebas Neue', cursive;
        z-index: 999;
    }
    
    .nav-input {

        list-style: none;
    } 

    .nav-input:checked + .nav-mob {
        clip-path: circle(100% at center);
        list-style: none;
    } 
    
    .nav-label {
        margin-right: 5%;
    }
    .card {
        display: flex;
    }
    
    .contenerdor-produ {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .img-mobi {
        display: none;
    }
    section.section-vet {
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
        display: flex;
        margin: 10px;
        padding: 10px;
        overflow: hidden;  
        text-align: center;
        background-color: white;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        }

     img.imgvet {
         width: 100%;
     } 
    
}

.contenedortex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.contenedorbox{
    border: 1px solid black;
    box-shadow: 0px 0px 20px black;
    width: 87%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.divform {
    width: 70%;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px rgb(17, 17, 17);
 }
 .tituloform {
    font-family: 'Koulen', cursive;
 }
 
 .formin {
    padding: 10px;
 }
 
 .formin input{
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(17, 17, 17);
    padding: 5px;
    font-family: 'Koulen', cursive;
    width: 300px;
 }
 
 .formin textarea {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(10, 10, 10);
    font-family: 'Koulen', cursive;
    width: 50%;
 }

 .section-prod {
    border: 2px solid violet;
    box-shadow: 0px 0px 15px blueviolet;
    margin: 10px;
    padding: 10px;
    background-color: white;
    opacity: 1.5;
}
.titulosprod {
    text-align: center;
    padding: 20px;
    font-family: 'Sniglet', cursive;
}
.cuerpoprod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

 .cuerpoprod img {
    padding: 10px 10px;
    width: 100%;
 }
 .cuerpo {
    
}

.parrafoprod {
    align-content: center;
    text-align: center;
}

.section-vet {
    border: 2px solid violet;
    box-shadow: 0px 0px 15px blueviolet;
    display: flex;
    margin: 10px;
    padding: 10px;
    overflow: hidden;  
    text-align: center;
    background-color: white;
    flex-direction: row-reverse;
    align-items: stretch;

}

.cuerpovet {
display: flex;
flex-direction: column;
align-content: center;
align-items: stretch;
}   
